<!--
	作者：1021766585@qq.com
	时间：2018-07-04
	描述：后台基础页面
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>大杂烩后台管理系统-新闻管理</title>
    <!-- Bootstrap Styles-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">后台管理</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>用户信息</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
					<!--
                    	作者：1021766585@qq.com
                    	时间：2018-07-04
                    	描述：href属性项目收尾来添加,目前只修改自己当前模块的href便于测试, class='active-menu'由每个页面的js来控制
                    -->
                    <li>
                        <a href="/admin/"><i class="fa fa-dashboard"></i> 报表状态</a>
                    </li>
                    <li>
                        <a class="active-menu" href="/admin/newsManage/"><i class="fa fa-table"></i> 新闻管理</a>
                    </li>
					<li>
                        <a href="/admin/reviewManage/"><i class="fa fa-bar-chart-o"></i> 评论管理</a>
                    </li>
                    <li>
                        <a href="/admin/roleManage/"><i class="fa fa-qrcode"></i> 角色管理</a>
                    </li>
                    <li>
                        <a href="/admin/perManage/"><i class="fa fa-table"></i> 权限管理</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                        	<!--
                            	作者：1021766585@qq.com
                            	时间：2018-07-04
                            	描述：这里写具体是那个模块
                            -->
                            	新闻管理
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div>
                	<!--
	                	作者：1021766585@qq.com
	                	时间：2018-07-04
	                	描述：这里写查询条件,显示查询结果表格表格中带删除按钮,修改动态模组
	                -->
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="/static/js/custom-scripts.js"></script>

    <!-- 控制当前页面的js文件 -->
    <script src="/static/js/page_js/admin_js/news_manage.js"></script>


</body>
</html>