#add_review_form {
	margin: 0 20px;
}
#review_ul li {
	padding: 10px;
	margin-bottom: 5px;
}
.islike_item {
	float: left;

}
#new_like {
	height: auto;
	width: 755px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#new_like img {
	width: 50px;
	height: 50px;
}